/* 기본 스타일 모두 없애기 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%; /* 1rem = 10px */
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
